# Configuration file for the discovery server
# Endpoint of Security
ip=127.0.0.1
port=9999
# Endpoint of Registration
ip=127.0.0.1
port=10000
# Endpoint of Resolution
ip=127.0.0.1
port=10001
# Endpoint of Search
ip=127.0.0.1
port=10002
# Endpoint and credentials of MySQL database
ip=192.168.3.11
port=3306
user=pi
passw=pimysql123