# Configuration file for the discovery server
# Endpoint of Security
# <ip> <port>
127.0.0.1
9999
# Endpoint of Registration
# <ip> <port>
127.0.0.1
10000
# Endpoint of Resolution
# <ip> <port>
127.0.0.1
10001
# Endpoint of Search
# <ip> <port>
127.0.0.1
10002
# Endpoint and credentials of MySQL database
# <ip> <port> <user> <password> <database> <table>
# use: 192.168.2.106 for home
192.168.2.106
3306
# username
# use : root for home, else pi
pi
pimysql123
# we will use this database
authentication
# table for authentication
auth_data
